<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <table>
  <tr>
    <th>Module Name</th>
    <th>read </th>
    <th>write</th>
    <th>Update </th>
    <th>Delete</th>
    <th>Allow</th>
  </tr>
  <tr>
    <td>
      <!-- <button mat-icon-button disabled></button> -->
    {{node.name}}</td>
    <td><mat-slide-toggle [checked]="node.read" ></mat-slide-toggle></td>
    <td><mat-slide-toggle [checked]="node.write"></mat-slide-toggle></td>
    <td><mat-slide-toggle [checked]="node.edit"></mat-slide-toggle></td>
    <td><mat-slide-toggle [checked]="node.delete"></mat-slide-toggle></td>
    <td><mat-slide-toggle [checked]="node.allow"></mat-slide-toggle></td>
  </tr>
    </table>
    <!-- use a disabled button to provide padding for tree leaf -->
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <table>
  <tr>
    <th>Module Name</th>
    <th>read </th>
    <th>write</th>
    <th>Update </th>
    <th>Delete</th>
    <th>Allow</th>
  </tr>
  <tr>
    <td>
      <!-- <button mat-icon-button disabled></button> -->
    {{node.name}}</td>
     <td><mat-slide-toggle [checked]="node.read" (click)="onReadPermissionChange(node)"></mat-slide-toggle></td>
    <td><mat-slide-toggle [checked]="node.write"></mat-slide-toggle></td>
    <td><mat-slide-toggle [checked]="node.edit"></mat-slide-toggle></td>
    <td><mat-slide-toggle [checked]="node.delete"></mat-slide-toggle></td>
    <td><mat-slide-toggle [checked]="node.allow"></mat-slide-toggle></td>
  </tr>
    </table>
  </mat-tree-node>
</mat-tree>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->